/* Styles applied to all elements */
a {
    color: rgb(161, 9, 9);
  }

.main {
    background-image: url("assets/resizedCactus.png");
    background-size: cover;
}

.second {
    background-color: #F1D141;
}


.img-cocktail {
    float: left;
    margin-right: 30px;
  }

.whiteBgd {
  background-color: white;
}


/* Sticky Footer */
html, body{
  height: 100%;
}
body{
  display: flex;
  flex-flow: column;
}
footer{
  margin-top: auto;
}
/* End STicky Footer */





