a {
    color: rgb(161, 9, 9);
  }

/*MOBILE STYLES*/
@media only screen and (max-width: 480px) {
  .main {
    background-image: url("assets/cactusMobile.png");
    background-repeat: no-repeat;
    background-color: #05cac2;
  }

  .is-half {
    background: rgba(241, 245, 241, 0.6);
    border-radius: 10px;
  }

  .lg-view-padding {
    display: none;
  }
}

/*MID SIZE STYLES*/
@media only screen and (min-width: 481px) {
  .main {
    background-image: url("assets/resizedCactus.png");
    background-size: cover;
    /* height: 80vh; */
  }

  .second {
    background-color: #F1D141;
  }
}

/*Persistent classes on all sizes*/

.btn-margin {
  margin-bottom: 5px;
  margin-top: 5px;
}

.img-cocktail {
    float: left;
    margin-right: 30px;
  }

.whiteBgd {
  background-color: white;
}


/* Sticky Footer */
html, body{
  height: 100%;
}
body{
  display: flex;
  flex-flow: column;
}
footer{
  margin-top: auto;
}
/* End STicky Footer */





