body {
    background-image: url("assets/resizedCactus.png");
    background-size: cover;
  }

  .centered {
    text-align: center;
  }
  .left-populated-result{
    text-align: left;
  }
  .img-cocktail{
    float: left;
    margin-right: 30px;
  }